body {
    background-color: aqua;
    font-family: 'georgia';
}
h1 {
    font-family: 'comic sans ms';
    font-size: 60px;
    color: darkblue;
    text-align: center;
}
h4 {
    text-align: end;
    font-style: italic;

}
p {
    text-align: justify;
}
h3 {
    
    .b{
        color: white;
        font-variant: small-caps;
    }
}
#abc {
    color: orange;
    text-align: center;
}
p {
    text-align: center;
}
.b:hover{
    color: red;
}
.fq:hover{
    color: white;
    background-color: blue;
}
