body {
    background-color: aqua;
    font-family: 'georgia';
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1 {
    font-family: 'comic sans ms';
    font-size: 60px;
    color: darkblue;
    text-align: center;
}
h4 {
    text-align: center;
    font-style: italic;

}
p {
    text-align: justify;
}
h3 {
    text-align: center;
    
    .b{
        color: red;
        font-variant: small-caps;
    }
}
#abc {
    color: orange;
    text-align: center;
}
p {
    text-align: center;
}
.b:hover{
    color:white;
}
.fq:hover{
    color: white;
    background-color: blue;
}
.fq{
    text-decoration: none;
}
