* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background: rgb(7, 49, 7);
  height: 70px;
  width: 100%;
}
label.Logo {
  color: white;
  font-size: 35px;
  line-height: 70px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
  display: flex;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
}
a:hover {
  color: black;
}
.judul {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 2px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Pastikan body mengambil setidaknya tinggi viewport */
  justify-content: space-between; /* Jaga agar footer berada di bawah */
  background: #a8a8a8;
  background-image: url(pexels-tracehudson-2529973.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  margin-top: 2px;
  margin-bottom: 30px;
  justify-content: center;
  top: -55px;
}

.container .card {
  width: 308px;
  position: relative;
  height: 400px;
  background: #f0f0f0;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  margin-top: 5%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.6);
}
.container .card .imgBx {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  box-shadow: 0 5px 20px rgba (0, 0, 0, 8);
}

.container .card .imgBx img {
  max-width: 100%;
  border-radius: 10px;
}

.imgBx:hover img {
  transform: scale(1.1);
}

.footer {
  background-color: black;
  padding: 10px;
  width: 100%;
  position: fixed;
  clear: both;
  bottom: 0;
  margin-top: auto;
}
.footer .copy {
  color: #eaeaea;
  text-align: center;
  font-size: 12px;
}
