*{
    margin: 0;
    padding: 0;
}

img{
    width: 100px;
}

body{
    border-color: #ddd;
    font-size: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 50px;
}

.container{
    display: grid;
    gap: 10px;
}
/* header */

.header{
    display: grid;
    grid-template-areas: 
    'hero hero feature-1'
    'hero hero feature-2' ;
}

.hero{
    grid-area: hero;
    min-height: 350px;
    background-image: url(img/hero.png);
    background-size: cover;
    background-position: center ;
    padding: 50px;
}

.hero > *{
    display: none;
}

.features{
    background-color: #000;
    color: white;
    display: grid;
    place-content: center;
    text-align: center;
    cursor: pointer;
}

.features-1{
    grid-area: feature-1;
    background-image: url(img/shoes.jpg);
    background-size: cover;
}

.features-2{
    grid-area: feature-2;
    background-image: url(img/tempo.jpeg);
    background-size: cover;
}

.features .price{
    font-size: 3em;
    font-weight: 200;
}

.menu{
    order: -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

}

.menu .brand{
    font-size: 1.2em;
    color: #333;
}

.menu ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}

.menu a{
    display: block;
    background-color: #000;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-size: 0.9em;

}




@media (max-width: 1024px) {
    .menu{
        order: inherit;
        grid-template-columns: 1fr;

    }
    .menu .brand{
        display: none;
        
    }
    .hero > *{
        display: block;
        background-color: black;
        color: white;
        padding: 5px;
        margin-bottom: 5px;
    }

    .hero{
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 500px) {
    
}



